# SQL Interview Questions  - Quiz

## Introduction

In this lesson, we'll go through a short quiz containing the types of questions about SQL and relational databases that you can expect to see in an interview. 



## SQL Interview Questions

This quiz contains questions on topics you can expect to see in an interview pertaining to SQL and Relational Databases. Some of them are multiple choice, while some are short answer. For these short answer questions, double click on the Jupyter Notebook and type your answer below the line. 

## Question 1

what are the 4 main datatypes in SQLite3? Can we use other common types from other kinds of SQL?

Type your answer below this line:
_______________________________________________________________________________________________________________________________
The datatypes in SQLite3 are `text`, `real`, `blob`, and `integer`. `Text` is for strings, `real` is for floating point numbers, `integer` is for integers and booleans, and `blob` is for everything else. We can use other common types but they'll be treated as one of those four.  




## Question 2

Explain the relationship between **Primary Keys** and **Foreign Keys**.

Type your answer below this line:
_______________________________________________________________________________________________________________________________

**Primary keys** are the main (i.e. unique identifier) keys for the current table.  **Foreign Keys** are the columns in other tables.  One table's **primary key** counts as a **foreign key** for a different table.  Typically, when using the `JOIN` function, one table's **primary key** will be matched up with a column from the other table (i.e. the **foreign key**) so that the tables can be combined.



## Question 3

Explain the different types of relationships entities can have in a SQL database. 

Type your answer below this line:
_______________________________________________________________________________________________________________________________

They can be one-to-one, one-to-many, and many-to-many. In a one-to-one relationship, tables only have one column in common. When the two tables are joined, there will only be one row for each unique person, object, or whatever else the primary key represents.  In a one-to-many relationship, one row in a table can match with multiple rows in a second table.  For example, if one table represents customers and another table represents orders they've made, then each customer may make several orders.  That means that, any one customer in the first table may match up with multiple rows (aka orders) in the second table.  In a many-to-many relationship, multiple rows from two different tables match up.  For example, a product list table and an order table will have a lot of overlap since each order may have multiple products as well as each product being part of multiple orders.


## Question 4

Explain the various types of JOINs possible with SQL. 

Type your answer below this line:
_______________________________________________________________________________________________________________________________
The types of `JOIN`s are inner, outer, left, and right.  Inner joins only use the data entries that are present in both tables.  Outer joins use all of the entries, whether or not they're in both tables.  Left joins use all of the entries from the first table as well as any entries that the second table has in common.  Right joins are similar, but they use all of the entries from the second table.

Example:

|Table A |  .  |Table B  |
|--------|-----|---------|
|John, 37|  .  |John, CA |
|Sara, 4 |  .  |Allen, AZ|
|Max, 16 |  .  |Sara, NM |

__Inner Join of Tables A and B__:  
John, 37, CA  
Sara, 4, NM  
  
__Outer Join of Tables A and B__:  
John, 37, CA  
Sara, 4, NM  
Max, 16, `NaN`  
Allen, `NaN`, AZ  
  
__Left Join of Tables A and B__:  
John, 37, CA  
Sara, 4, NM  
Max, 16, `NaN`  

__Right Join of Tables A and B__:  
John, 37, CA  
Allen, `NaN`, AZ  
Sara, 16, NM

## Question 5

Explain the relationship between Aggregate functions and GROUP BY statements.

Type your answer below this line:
_______________________________________________________________________________________________________________________________
`Group By` combines all rows for each unique value in a given column so that we can use aggregate functions (like sum, mean, or anything that uses a column of numbers to find one numerical output).   An example:  Say we have a dataframe where each row includes information like the country a person lives in and what their level of education is. We could use `GROUP BY` to combine all of the rows for each country and then we could use an aggregate function (like sum) to find the total number of adults with colleges degrees in each country.


## Question 6

What role do Associative Entities play (JOIN Tables) in many-to-many JOINs?


Type your answer below this line:
_______________________________________________________________________________________________________________________________
They're a go-between for the two tables we want to join (if it's a many-to-many join).  Associative entities keep track of the relationship between the two tables and how their primary/foreign keys relate.


## Summary

In this lesson, we practiced answering open-ended interview questions for SQL and Relational Databases.